@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <hr />
    <h3>GDPR</h3>

    <p>Follow this 
    <strong>
        <a href="https://www.lexicon.se/Personuppgiftspolicy/">link</a>
    </strong>
    for personal information policy at Lexicon Göteborg.</p>

</div>
