/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Search button
-------------------------------------------------- */
#search-button {
    padding: 6px 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

    #search-button:hover {
        background: #ccc;
    }

/* Change navigation bar, logout, search bar and logo font-size
-------------------------------------------------- */
.nav-item, #logout, navbar-brand {
    font-size: large;
}

/* Carousel image height
-------------------------------------------------- */
.carousel-item {
    height: 450px;
}

/* Card widths
-------------------------------------------------- */
#details-card {
    width: 36rem;
}

.list-card {
    width: 18rem;
}

/* Constant user table cell width
-------------------------------------------------- */
.user-table-email-cell {
    width: 25%;
}

/* Horizontal author menu, navbar-brand positioning, 
   navbar margin
-------------------------------------------------- */
@media screen and (min-width: 1200px) {
    #author-dropdown-menu {
        margin-left: -480px;
        width: 100vw
    }

        #author-dropdown-menu > li {
            display: inline-block;
        }

    .navbar-brand {
        float: left;
        margin-left: 104px;
    }

    .navbar-nav {
        margin-left: 96px;
    }
}

@media screen and (max-width: 1199px) {
    .navbar-brand {
        display: flex;
        justify-content: center;
    }

    .navbar-nav {
        margin-left: auto;
    }

    #nav-1 {
        flex-direction: column;
    }
}

/* Avoid horizontal scrolling
-------------------------------------------------- */
html {
    overflow-x: hidden;
}

/* Vertical alignment and size of shoppingcart icon
-------------------------------------------------- */
#shoppingcart-icon {
    line-height: 18px;
    font-size: larger;
}

/* Vertical alignment of navbar-brand
-------------------------------------------------- */
.navbar-brand span {
    line-height: 40px;
}

/* Search box and select list heights
-------------------------------------------------- */
.custom-select, #search-box {
    height: 40px;
}

/* Color themes
-------------------------------------------------- */
.bg-custom {
    background-color: #20456f;
}

.navbar-nav li a, #logout {
    color: lightgray !important;
}

.dropdown li a {
    color: grey !important;
}
